{% load i18n %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <a href="{% querystring page=page_obj.previous_page_number %}">«</a>
        </li>
    {% else %}
        <li class="disabled">
            <span>«</span>
        </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active">
                <span>{{ i }} <span class="visually-hidden">{% translate "(current)" %}</span></span>
            </li>
        {% else %}
            <li>
                <a href="{% querystring page=i %}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li>
            <a href="{% querystring page=page_obj.next_page_number %}">»</a>
        </li>
    {% else %}
        <li class="disabled">
            <span>»</span>
        </li>
    {% endif %}
</ul>
