{% load i18n %}
<div class="wine__stock-buttons">
    {% if wine %}
        <a href="{% url 'change-stock' wine.pk 1 %}"
           class="pure-button button__primary">{% translate "Add bottle" %}</a>
        {% if wine.stock > 0 %}
            <a href="{% url 'change-stock' wine.pk 0 %}"
               class="pure-button button__secondary">{% translate "Remove bottle" %}</a>
        {% endif %}
    {% else %}
        <a href="{% url 'wine-add' code %}" class="pure-button button__primary">{% translate "Add new wine" %}</a>
    {% endif %}
</div>
