{% extends 'base.html' %}
{% load static i18n %}
{% block header %}
    <h1 class="header__title">
        My Wine Cellar
    </h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-1">
            <div class="stats__card-container">
                <div class="stats__card">
                    <p class="stats__number">{{ wines_in_stock }}</p>
                    <p class="stats__label">
                        {% blocktranslate count counter=wines_in_stock %}
                            Wine in Stock
                        {% plural %}
                            Wines in Stock
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="stats__card">
                    <p class="stats__number">{{ wines }}</p>
                    <p class="stats__label">
                        {% blocktranslate count counter=wines %}
                            recorded Wine
                        {% plural %}
                            recorded Wines
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="stats__card">
                    <p class="stats__number">{{ countries }}</p>
                    <p class="stats__label">
                        {% blocktranslate count counter=countries %}
                            Country
                        {% plural %}
                            Countries
                        {% endblocktranslate %}
                    </p>
                </div>
                <div class="stats__card">
                    <p class="stats__number">{{ oldest }}</p>
                    <p class="stats__label">{% translate "Oldest Wine" %}</p>
                </div>
                <div class="stats__card">
                    <p class="stats__number">{{ youngest }}</p>
                    <p class="stats__label">{% translate "Youngest Wine" %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
