{% extends 'base.html' %}
{% block title %}
    Wine List
{% endblock title %}
{% block content %}
    <div class="pure-g">
        {% for wine in wines %}
            <div class="pure-u-1-8 wine-card">
                <h2>{{ wine.name }}</h2>
                <p>
                    <strong>Type:</strong> {{ wine.get_wine_type_display }}
                </p>
                <p>
                    <strong>ABV:</strong> {{ wine.abv }}
                </p>
                <p>
                    <strong>Capacity:</strong> {{ wine.capacity }}
                </p>
                <p>
                    <strong>Vintage:</strong> {{ wine.vintage }}
                </p>
                {% if wine.comment %}
                    <p>
                        <strong>Comment:</strong> {{ wine.comment }}
                    </p>
                {% endif %}
                <p>
                    <strong>Rating:</strong> {{ wine.rating }}
                </p>
            </div>
        {% empty %}
            <div class="pure-u-1 center-container">
                <p>
                    <strong>There are no wines yet</strong>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
