{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
{% endblock extra_js %}
{% block title %}
    Create/Edit Wine
{% endblock title %}
{% block header %}
    <h1 class="form-head">{% translate 'Add Wine' %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g center-container">
        <div class="pure-u-1 pure-u-lg-1-2">
            <form method="post"
                  enctype="multipart/form-data"
                  class="pure-form pure-form-stacked wine-form"
                  novalidate>
                {% csrf_token %}
                <fieldset id="create__fs_0"
                          class="{% if form.form_step.value != 0 %}hidden{% endif %}">
                    <legend><h2 class="form-subhead text-color-gray">{% translate 'Details' %}</h2></legend>
                    {% include 'forms/form_field.html' with field=form.name %}
                    {% include 'forms/form_field.html' with field=form.wine_type %}
                    {% include 'forms/form_field.html' with field=form.country %}
                    {% include 'forms/form_field.html' with field=form.size %}
                </fieldset>
                <fieldset id="create__fs_1"
                          class="{% if form.form_step.value != 1 %}hidden{% endif %}">
                    <legend><h2 class="form-subhead text-color-gray">{% translate 'Characteristics' %}</h2></legend>
                    {% include 'forms/form_field.html' with field=form.grapes %}
                    {% include 'forms/form_field.html' with field=form.vintage %}
                    {% include 'forms/form_field.html' with field=form.abv %}
                    {% include 'forms/form_field.html' with field=form.category %}
                </fieldset>
                <fieldset id="create__fs_2"
                          class="{% if form.form_step.value != 2 %}hidden{% endif %}">
                    <legend><h2 class="form-subhead text-color-gray">{% translate 'Origin' %}</h2></legend>
                    {% include 'forms/form_field.html' with field=form.vineyard %}
                    {% include 'forms/form_field.html' with field=form.source %}
                </fieldset>
                <fieldset id="create__fs_3"
                          class="{% if form.form_step.value != 3 %}hidden{% endif %}">
                    <legend><h2 class="form-subhead text-color-gray">{% translate 'Personal Notes' %}</h2></legend>
                    {% include 'forms/form_field.html' with field=form.food_pairings %}
                    {% include 'forms/form_field.html' with field=form.rating %}
                    {% include 'forms/form_field.html' with field=form.comment %}
                </fieldset>
                <fieldset id="create__fs_4"
                          class="{% if form.form_step.value != 4 %}hidden{% endif %}">
                    <legend><h2 class="form-subhead text-color-gray">{% translate 'Image' %}</h2></legend>
                    {% include 'forms/form_field.html' with field=form.image %}
                    {% include 'forms/form_field.html' with field=form.remove_background %}
                </fieldset>
                {{ form.form_step }}
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
