{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
{% endblock extra_js %}
{% block title %}
    Create/Edit Wine
{% endblock title %}
{% block content %}
    <div class="pure-g center-container">
        <div class="pure-u-1-2">
            <h2 class="content-subhead">{% translate 'Add Wine' %}</h2>
            <form method="post"
                  enctype="multipart/form-data"
                  class="pure-form pure-form-stacked wine-form"
                  novalidate>
                {% csrf_token %}
                <fieldset id="create__fs_0"
                          class="{% if form.form_step.value != 0 and form.form_step.value != '0' %}hidden{% endif %}">
                    {% include 'forms/form_field.html' with field=form.name %}
                    {% include 'forms/form_field.html' with field=form.wine_type %}
                    {% include 'forms/form_field.html' with field=form.country %}
                    {% include 'forms/form_field.html' with field=form.capacity %}
                </fieldset>
                <fieldset id="create__fs_1"
                          class="{% if form.form_step.value != 1 and form.form_step.value != '1' %}hidden{% endif %}">
                    {% include 'forms/form_field.html' with field=form.image %}
                    {% include 'forms/form_field.html' with field=form.remove_background %}
                </fieldset>
                <fieldset id="create__fs_2"
                          class="{% if form.form_step.value != 2 and form.form_step.value != '2' %}hidden{% endif %}">
                    {% include 'forms/form_field.html' with field=form.grapes %}
                    {% include 'forms/form_field.html' with field=form.vintage %}
                    {% include 'forms/form_field.html' with field=form.abv %}
                    {% include 'forms/form_field.html' with field=form.category %}
                </fieldset>
                <fieldset id="create__fs_3"
                          class="{% if form.form_step.value != 3 and form.form_step.value != '3' %}hidden{% endif %}">
                    {% include 'forms/form_field.html' with field=form.vineyard %}
                    {% include 'forms/form_field.html' with field=form.source %}
                </fieldset>
                <fieldset id="create__fs_4"
                          class="{% if form.form_step.value != 4 and form.form_step.value != '4' %}hidden{% endif %}">
                    {% include 'forms/form_field.html' with field=form.food_pairing %}
                    {% include 'forms/form_field.html' with field=form.rating %}
                    {% include 'forms/form_field.html' with field=form.comment %}
                </fieldset>
                {{ form.form_step }}
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Continue</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
