<div>
     <table class="table">
         <thead>
         <tr>
           <th>Wine</th>
           <th>Type</th>
           <th>Grapes</th>
           <th>Vinyard</th>
           <th>Region</th>
           <th>Vintage</th>
           <th>Food Pairing</th>
         </tr>
         </thead>
         <tbody id="search-results">
         {% for wine in results.results %}
         <tr>
                  <td>{{ wine.name }}</td>
                  <td>{{ wine.wine_type }}</td>
                  <td>{{ wine.grapes }}</td>
                  <td>{{ wine.region }}</td>
                  <td>{{ wine.vintage }}</td>
                  <td>{{ wine.food_pairings }}</td>
         </tr>
         {% endfor %}
         </tbody>
     </table>

</div>
