{% extends 'base.html' %}
{% block title %}Search Wine{% endblock title %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            <h2 class="content-subhead">Search Wine</h2>
            <form class="pure-form pure-form-stacked" method="post">
                {% csrf_token %}
                <label for="winesearch">Search:</label>
                <input type="search" id="winesearch" name="winesearch" required
                        hx-post="/search" 
                        hx-trigger="input changed delay:500ms, search" 
                        hx-target="#search-results" 
                        hx-indicator=".htmx-indicator">
                <input type="submit" value="Search" class="pure-button pure-button-primary">
            </form>
     
     <table class="table">
         <thead>
         <tr>
           <th>Wine</th>
           <th>Vinyard</th>
           <th>Type</th>
         </tr>
         </thead>
         <tbody id="search-results">
            no results
         </tbody>
     </table>


        </div>
    </div>
{% endblock content %}
