{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
{% endblock extra_js %}
{% block header %}
    <h1 class="header__title">
        {% translate 'Wine List' %}
    </h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-9-24 pure-u-md-7-24">
            {# TODO: extract form into own template and style #}
            <form action="" method="get" class="filter-form pure-form pure-form-stacked">
                <fieldset>
                    <div class="filter-legend">
                        <legend>
                            <h3 class="text-align-left">
                                {% translate 'Filter by:' %}
                            </h3>
                        </legend>
                    </div>
                    {% for field in filter.form %}
                        {% include "wine_filter_field.html" %}
                    {% endfor %}
                </fieldset>
                <button type="submit" class="pure-button button__primary">{% translate "Filter" %}</button>
            </form>
        </div>
        <div class="pure-u-1 pure-u-sm-15-24 pure-u-md-17-24">
            <div class="wine_card__container">
                {% for wine in wines %}
                    <div class="wine_card">{% include 'wine_card.html' with wine=wine %}</div>
                {% empty %}
                    <div class="pure-u-1 m-auto">
                        <p>
                            <strong>There are no wines yet</strong>
                        </p>
                    </div>
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages %}
            <ul class="pagination m-auto">
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}">«</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>«</span>
                    </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}">»</a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <span>»</span>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endblock content %}
