{% extends 'base.html' %}
{% load static i18n storage_tags %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
    <script src="{% static 'stock_add.js' %}" defer></script>
{% endblock extra_js %}
{% block title %}
    {% translate "Add Bottle" %}
{% endblock title %}
{% block header %}
    <h1 class="header__title">{% translate "Add Bottle" %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-3 m-auto">
            {% storage_cells free_cells_by_storage %}
            <form method="post"
                  enctype="multipart/form-data"
                  class="pure-form pure-form-stacked wine-form"
                  novalidate>
                {% csrf_token %}
                {% include 'forms/form_field.html' with field=form.storage %}
                {% include 'forms/form_field.html' with field=form.row %}
                <ul id="storage__error-full"
                    class="form-errorlist hidden"
                    aria-live="assertive"
                    aria-atomic="true">
                    <li>
                        <span>{% translate "This row of the shelf is full. Please choose another one." %}</span>
                    </li>
                </ul>
                {% include 'forms/form_field.html' with field=form.column %}
                {% include 'forms/form_field.html' with field=form.price %}
                <div class="pure-controls">
                    <div class="pure-g">
                        <div id="save_button_container" class="pure-u-1 pure-u-sm-1-1">
                            <button id="submit_button"
                                    type="submit"
                                    name="save"
                                    class="pure-button button__secondary">{% translate "Save" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
