{% extends 'base.html' %}
{% load static i18n %}
{% load render_bundle from webpack_loader %}
{% block extra_js %}
    {{ block.super }}
    {% render_bundle 'tom_select' 'js' attrs='type="module" defer' %}
{% endblock extra_js %}
{% block title %}
    {% translate "Add Storage" %}
{% endblock title %}
{% block header %}
    <h1 class="header__title">{% translate "Add Storage" %}</h1>
{% endblock header %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-3 m-auto">
            <form method="post"
                  enctype="multipart/form-data"
                  class="form"
                  novalidate>
                {% csrf_token %}
                <div class="form__fields">
                    {% include 'forms/form_field.html' with field=form.name %}
                    {% include 'forms/form_field.html' with field=form.description %}
                    {% include 'forms/form_field.html' with field=form.location %}
                    {% include 'forms/form_field.html' with field=form.rows %}
                    {% include 'forms/form_field.html' with field=form.columns %}
                    {% include 'forms/form_field.html' with field=form.swap_axes %}
                    {% include 'forms/form_field.html' with field=form.row_labels_enabled %}
                    {% include 'forms/form_field.html' with field=form.column_labels_enabled %}
                </div>
                <div class="pure-controls">
                    <div class="pure-g">
                        <div id="save_button_container" class="pure-u-1 pure-u-sm-1-1">
                            <button type="submit" name="save" class="pure-button button__primary">{% translate "Save" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
