# Changelog

All notable changes to this project will be documented in this file.
This project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).
{% for entry in tree %}

## {{ entry.version }}{% if entry.date %} ({{ entry.date }}){% endif %}


{% for change_key, changes in entry.changes.items() %}
{% if change_key %}
### {{ change_key }}
{% endif %}

{% for change in changes %}
{% if change.scope %}
- **{{ change.scope }}**: {{ change.subject }}
{%- if change.body %}
    {{ change.body | replace('\n', '', 1) | replace('\n', '\n    ') }}
{% endif %}

{% else %}
- {{ change.subject }}
{% if change.body %}
    {{ change.body | replace('\n', '', 1) | replace('\n', '\n    ') }}
{% endif %}

{% endif %}
{% endfor %}

{% endfor %}
{% endfor %}

