{% extends 'base.html' %}
{% load static i18n %}
{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'tom_select.js' %}" type="module" defer></script>
{% endblock extra_js %}
{% block title %}
    {% translate "Settings" %}
{% endblock title %}
{% block header %}
{% endblock header %}
{% block content %}
    <div class="pure-g settings-container">
        {% include "includes/settings_sidebar.html" %}
        <div class="pure-u-1 pure-u-lg-3-4">
            <div class="wine-detail__summary">
                <div class="wine-detail__card-header">
                    <h3>{% translate "General" %}</h3>
                </div>
                <form method="post"
                      enctype="multipart/form-data"
                      class="wine-form"
                      novalidate>
                    {% csrf_token %}
                    <div class="wine-form__fields">
                        {% include 'forms/form_field.html' with field=form.language %}
                        {% include 'forms/form_field.html' with field=form.currency %}
                        {% include 'forms/form_field.html' with field=form.notifications %}
                    </div>
                    <div class="pure-controls">
                        <button type="submit" name="continue" class="pure-button button__primary">{% translate "Save" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
