{% load i18n widget_tweaks %}
<div class="form-container">
    <label for="{{ field.id_for_label }}">
        {{ field.label }}
        {% if not field.field.required and field.field.widget.input_type != "checkbox" %}
            <p class="d-inline"
               role="presentation"
               title="{% translate "This field is optional" %}">{% translate "(Optional)" %}</p>
        {% endif %}
    </label>
    {% if field.help_text %}<p class="form-hint">{{ field.help_text }}</p>{% endif %}
    {{ field|add_error_attr:"aria-invalid:true" }}
    {% if field.errors %}
        <ul class="form-errorlist" aria-live="assertive" aria-atomic="true">
            {% for error in field.errors %}<li>{{ error|escape }}</li>{% endfor %}
        </ul>
    {% endif %}
</div>
