@import url("menu.css");
@import url("page-layout.css");
@import url("forms.css");

:root {
    --darker: #430505;
    --dark: #7D0A0A;
    --red: #BF3131;
    --beige: #EAD196;
    --light: #F3EDC8;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: var(--light);
    width: 100%;
}
