<!DOCTYPE html>
{% load static settings i18n %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
              integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'images/red_glass2.svg' %}">
        {% block styles %}
        {% endblock styles %}
        {% block extra_js %}
        {% endblock extra_js %}
        <title>
            {% block title %}
                Django Wine Cellar
            {% endblock title %}
        </title>
    </head>
    <body>
        <div id="layout">
            {% block menu %}
            <nav class="pure-menu pure-menu-horizontal">
                <a href="{% url 'homepage' %}" class="pure-menu-heading pure-menu-link">Wine Cellar</a>
                <ul class="pure-menu-list">
                    {% if user.is_authenticated %}
                        <li class="pure-menu-item">
                            <a href="{% url 'wine-list' %}" class="pure-menu-link">Wines</a>
                        </li>
                        <li class="pure-menu-item">
                            <a href="{% url 'wine-add' %}" class="pure-menu-link">Add Wine</a>
                        </li>
                        <li class="pure-menu-item">
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button class="pure-menu-link button" type="submit">Log Out</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="pure-menu-item">
                            <a href="{% url 'login' %}" class="pure-menu-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endblock menu %}
            <div id="main">
                <header class="header">
                    {% block header %}
                        <h1 class="brand-title">
                            Django Wine Cellar
                        </h1>
                    {% endblock header %}
                </header>
                
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
                <footer class="footer">
                    <p>AGPL 3.0 | Version {% get_setting "VERSION" %} | <a href="https://github.com/goapunk/wine-cellar" target="_blank">Github <span class="sr-only">(opens in new tab)</span></a></p>
                </footer>
            </div>
        </div>
    </body>
</html>
