<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock styles %}
    <title>{% block title %}Django Wine Cellar{% endblock %}</title>
    <!-- Add additional stylesheets or scripts here -->
</head>
<body>
 <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link">Wine Cellar</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
            <!-- Add more menu items as needed -->
        </ul>
        <ul class="pure-menu-list pure-menu-right">
            <!-- Add user dropdown (replace '#' with the URL for user profile/settings) -->
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" class="pure-menu-link">User</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Profile</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Settings</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <!-- Add sidebar content if needed -->
        </div>

        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <h1 class="brand-title">{% block header %}Django Wine Cellar{% endblock %}</h1>
            </div>

            <div class="content-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
