<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
              integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
        <link rel="stylesheet" href="{% static 'base.css' %}">
          <link rel="icon" type="image/x-icon" href="{% static 'images/red_glass2.svg' %}">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
         <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
          <script src="https://unpkg.com/mustache@latest"></script>
        {% block styles %}
        {% endblock styles %}
        {% block extra_js %}
        {% endblock extra_js %}
        <title>
            {% block title %}
                Django Wine Cellar
            {% endblock title %}
        </title>
        <!-- Add additional stylesheets or scripts here -->
    </head>
    <body>
        <div id="layout">
            {% block sidebar %}
                <nav class="menu-nav">
                    <!-- Menu toggle -->
                    <input class="menu-toggle" type="checkbox" id="menu-toggle" value="text">
                    <label class="menu-link" for="menu-toggle">
                        {% comment %}
                    <span></span>
                        {% endcomment %}
                    </label>
                    <div class="pure-menu">
                        <a href="{% url 'homepage' %}" class="pure-menu-heading pure-menu-link">Wine Cellar</a>
                        <!-- <span class="pure-menu-heading">
                            {% if user.is_authenticated %}
                                {{ user.username }}
                            {% else %}
                                User
                            {% endif %}
                        </span> -->
                        <ul class="pure-menu-list">
                            <!-- # disable for now -->
                            <!-- <li class="pure-menu-item">
                                <a href="{% url 'user-profile' %}" class="pure-menu-link">Profile</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="{% url 'settings' %}" class="pure-menu-link">Settings</a>
                            </li>

                            </li> -->
                            {% if user.is_authenticated %}
                                <li class="pure-menu-item">
                                    <a href="{% url 'wine-list' %}" class="pure-menu-link">Wines</a>
                                </li>
                                <li class="pure-menu-item">
                                    <a href="{% url 'wine-add' %}" class="pure-menu-link">Add Wine</a>
                                </li>
                                <li class="pure-menu-item">
                                    <form action="{% url 'logout' %}" method="post">
                                        {% csrf_token %}
                                        <button class="pure-menu-link button" type="submit">Log Out</button>
                                    </form>
                                </li>
                                {% else %}
                                <li class="pure-menu-item">
                                    <a href="{% url 'login' %}" class="pure-menu-link">Login</a>
                                </li>
                                {% comment %}
                                # disable for now
                                <li class="pure-menu-item">
                                    <a href="{% url 'wine-search' %}" class="pure-menu-link">Search Wine</a>
                                </li>
                                {% endcomment %}
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            {% endblock sidebar %}
            <div id="main">
                <div class="header">
                    <h1 class="brand-title">
                        {% block header %}
                            Django Wine Cellar
                        {% endblock header %}
                    </h1>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
