.button__primary {
  background-color: var(--dark-green);
  color: var(--light);
  border-radius: 6px;

  &:hover {
    background-color: var(--darker-green);
  }

  &:focus {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
    background-color: var(--darker-green);
  }

  &:active {
    background-color: var(--darkest-green);
  }
}

.button__secondary {
  background-color: var(--dark-purple);
  color: var(--light);
  border-radius: 6px;

  &:hover {
    background-color: var(--darker-purple);
  }

  &:focus {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
    background-color: var(--darker-purple);
  }

  &:active {
    background-color: var(--darkest-purple);
  }
}

.button__neutral {
  color: var(--darker-gray);
  background-color: var(--gray-green);
  text-decoration: none;
  border-radius: 6px;

  &:hover {
    background-color: #dadfcf;
  }

  &:focus {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
    background-color: #dadfcf;
  }

  &:active {
    background-color: var(--darkest-green);
    color: var(--light);
  }
}

.ts-control:focus-within,
.pure-control-group > input[type="number"]:focus,
.pure-control-group > input[type="text"]:focus {
  border: 2px solid var(--dark-green);
}

.wine__edit-delete-buttons {
  display: flex;
  gap: 6px;
}
