.wine_card__container {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-block-start: 2rem;

  @media screen and (min-width: 48em) {
    margin-block-start: 5rem;    
  }
}

.wine_card {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;

  box-shadow: var(--container-box-shadow);
  p {
    margin: 0;
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }

  @media screen and (min-width: 48em) {
    width: calc(50% - 10px); /* Half of container width minus the gap */
  }
}

.wine_card__content {
  padding: 25px 25px 15px 25px;
}

.wine_card__title {
  margin-top: 0px;
  margin-bottom: 10px;
  overflow-wrap: anywhere;
}

.wine_card__img {
  max-height: 200px;
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.wine_card__stock {
  display: flex;
  justify-content: flex-end;
}
