.wine-detail__image {
  @media screen and (min-width: 48em) {
    margin-inline-start: auto;
    margin-inline-end: 1rem;
  
  }
}

.wine-detail__edit {
  margin-top: 0.75em;
  margin-left: 0.25em;
  font-size: var(--font-md);
}

.wine-detail__table {
  text-align: left;
  margin: auto;

  @media screen and (min-width: 48em) {
    margin-inline-start: 1rem;
    margin-inline-end: auto;
  }

  th {
    vertical-align: top;
    min-width: 7rem;
  }


}
