/* .pure-form input[type='submit'],
.pure-form button[type='submit'] {
  background-color: var(--dark-green);
} */

/* .pure-form input[type='submit']:hover,
.pure-form button[type='submit']:hover {
  background-color: var(--darker-green);
} */

.pure-form input[aria-invalid='true'] {
  border-color: #bb0000;
}

.login-container {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .pure-form input[type='text'],
  .pure-form input[type='password'] {
    width: 100%;
    margin-bottom: 10px;
  }

  /* .pure-form input[type='submit'] {
    width: 100%;
    color: var(--light);
    padding: 10px;
    border: none;
    cursor: pointer;
  } */
}

.filter-legend {
  padding-right: 20px;
}

.form-subhead {
  font-size: var(--font-lg);
  margin: 20px 0 10px 0;
  font-weight: 300;
  color: #333;
}

.wine-form {
  input,
  select,
  textarea,
  .ts-wrapper {
    min-width: 100%;
    min-height: 40px;
  }

  /* needed to ensure inner tomselect input does not default to new line */
  .ts-control input:not([type='checkbox']) {
    min-width: revert;
  }

  label {
    margin-bottom: 0px;
    line-height: 0.75rem;
  }

  @media screen and (min-width: 48em) {
    .pure-control-group {
      display: flex;

      input,
      select {
        flex-grow: 1;
      }
    }
  }
}

.form-container {
  margin-bottom: 1em;
}

.form-hint {
  font-style: italic;
  color: var(--text-color-gray);
  margin-bottom: 0.5 * 1rem;
}

.ts-wrapper {
  margin-top: 0.25em;
}

.ts-control {
  height: 36px;
}

.form-errorlist {
  margin-top: 0;
  color: #bb0000;
  font-weight: bold;
  padding-left: 1rem;
}

.filter-form {
  input:not([type='checkbox']),
  select,
  .ts-wrapper
  .ts-control {
    width: calc(100% - 20px);
    min-height: 40px;
  }
}
