.pure-form input[type='submit'],
.pure-form button[type='submit'] {
  background-color: var(--dark);
}

.pure-form input[type='submit']:hover,
.pure-form button[type='submit']:hover {
  background-color: var(--darker);
}

.pure-form input[aria-invalid='true'] {
  border-color: #bb0000;
}

.login-container {
  margin: 0 auto;
  padding: 20px;
  background-color: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .pure-form input[type='text'],
  .pure-form input[type='password'] {
    width: 100%;
    margin-bottom: 10px;
  }

  .pure-form input[type='submit'] {
    width: 100%;
    color: var(--light);
    padding: 10px;
    border: none;
    cursor: pointer;
  }
}

.form-head {
  font-weight: 300;
  margin: 20px 0 0 0;
  color: var(--text-color-gray);
}

.form-subhead {
  font-size: 3vh;
  margin: 20px 0 10px 0;
  font-weight: 300;
  color: #333;
}

.wine-form {
  input:not([type='checkbox']),
  select,
  .ts-wrapper {
    min-width: 100%;
  }

  label {
    margin-bottom: 0px;
    line-height: 0.75rem;
  }

  @media screen and (min-width: 48em) {
    .pure-control-group {
      display: flex;

      input,
      select {
        flex-grow: 1;
      }
    }
  }
}

.form-container {
  margin-bottom: 1em;
}

.form-hint {
  font-style: italic;
  color: var(--text-color-gray);
  font-size: $font-size-sm;
  margin-bottom: 0.5 * $spacer;
}

.ts-wrapper {
  margin-top: 0.25em;
}

.form-errorlist {
  margin-top: 0;
  color: #bb0000;
  font-weight: bold;
  padding-left: 1rem;
}
