.image {
  height: 243.75px;
  width: 187.5px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-block-end: 2rem;


  @media screen and (max-width: 48em) {
    margin: 0 auto 20px auto;
  }
  
  img {
    margin: 9.375px;
    height: 225px;
    width: auto;
    max-width: 188px;
    border-radius: 12px;
  }
}