.image {
  height: 250px;
  width: 188px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-block-end: 2rem;


  @media screen and (max-width: 48em) {
    margin: 0 auto 20px auto;
  }
  
  img {
    padding-top: 12.5px;
    height: 225px;
    width: auto;
    max-width: 188px;
  }
}