.pure-menu {
  border-bottom-color: black;
  border-radius: 0;
  background-color: var(--dark);
}

.pure-menu-link {
  padding: 1em 0.7em;
  color: white;
}

.pure-menu-link:hover,
.pure-menu-link:focus,
.pure-menu .button:hover,
.pure-menu .button:focus {
  background: var(--darker);
}

.pure-menu .button {
  background: none;
  border: none;
}
