/*
Add transition to containers so they can push in and out.
*/
#layout,
.pure-menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

/* #layout.active .pure-menu {
  left: 200px;
  width: 200px;
} */

/* #layout.active .menu-link {
  left: 200px;
} */

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1140px;
  margin-bottom: 25px;
  line-height: 1.6em;
}

.center-container {
  display: flex;
  justify-content: center;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  margin: 2.5em 2em 0;
  /* border-bottom: 1px solid var(--red); */
}

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

.header h2 {
  font-weight: 300;
  color: #333;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #333;
}

.pagination {
  margin-top: 2em;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.5rem;
  }
}

@media (min-width: 48em) {
  /* #layout {
    padding-left: 200px;
    /* left col width ".pure-menu" */
  /* left: 0;
  } */

  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}
