html {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--light);
  height: 100%;
  margin: 0;
  line-height: 1.6em;
}

.page__layout {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

.page__layout > * { flex: 0 0 auto; }

.main {
  max-width: 1140px;
  margin: 0 auto;
  flex-grow: 1;
}

.footer {
  margin-block-start: 2rem;
  text-align: center;
  width: 100%;
}

.pure-menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.header__title {
    font-size: var(--font-lg);
    font-weight: 300;
    text-align: center;
    color: var(--text-color-gray);
    margin: 3.5rem 0 1rem;
}

.pagination {
  margin-top: 2em;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    font-size: var(--font-md);
  }
}

@media (min-width: 768px) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}
