#layout,
.pure-menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 1140px;
  margin-bottom: 25px;
  line-height: 1.6em;
}

.center-container {
  display: flex;
  justify-content: center;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  margin: 2.5em 2em 0;
}

.header h2 {
  font-weight: 300;
  color: #333;
  padding: 0;
  margin-top: 0;
}

.content-subhead {
  font-size: var(--font-lg);
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.pagination {
  margin-top: 2em;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    font-size: var(--font-md);
  }
}

.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media (min-width: 48em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
}
