.storage-list__table {
  text-align: left;
  margin: auto;
  border-collapse: collapse;
  th:first-child {
  min-width: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}

  th {
    background-color: var(--gray-green);
  }
  th, td {
    padding: 4px 12px 4px 12px;
  }
  tr {
    border: 1px solid #ddd;
  }
}

.storage-list__menu { 
  margin-bottom: 32px;
}

.storage-detail__location {
  margin-right: 24px;
}
