@import url('menu.css');
@import url('page-layout.css');
@import url('forms.css');

:root {
  --darker: #506653;
  --dark: #408048;
  --inverse-dark: #804078;
  --red: #cc0000;
  --light: #f6f5ef;
  --text-color-gray: #525252;
  --font-sm: 1rem;
  --font-md: 1.25rem;
  --font-lg: 2rem;
  --font-xl: 3rem; 
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--light);
  width: 100%;
}
