@import url('menu.css');
@import url('page-layout.css');
@import url('forms.css');

:root {
  --darker: #506653;
  --dark: #408048;
  --red: #cc0000;
  --light: #f6f5ef;
  --text-color-gray: #525252;
}

body {
  font-family: 'Helvetica', sans-serif;
  background-color: var(--light);
  width: 100%;
}
