.text-align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.m-auto {
  margin: auto;
}

.d-flex {
    display: flex;
}

.d-inline {
  display: inline;
}

.j-center {
  justify-content: center;
}

.text--gray {
  color: var(--text-color-gray);
}
