.text-align-center {
  text-align: center;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.m-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.text--gray {
  color: var(--text-color-gray);
}
