{% extends 'base.html' %}
{% load static %}
{% block title %}
    Logout
{% endblock title %}
{% block content %}
    <div class="pure-g">
        <div class="pure-u-md-1-3"></div>
        <div class="pure-u-md-1-3">
            <h2 class="content-subhead">Login</h2>
            <div class="login-container">
                <form class="pure-form" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
